@font-face {
    font-family: "fangzheng";
    font-weight: normal;
    font-style: normal;
    src: url('./FZFenSTXJW.TTF') format('truetype');
}

@font-face {
    font-family: "yueHei";
    font-weight: normal;
    font-style: normal;
    src: url('./造字工房悦黑体验版常规体.otf') format('truetype');
}