@font-face {
    font-family: "fangzheng";
    font-weight: normal;
    font-style: normal;
    src: url('./FZFenSTXJW.TTF') format('truetype');
}

@font-face {
    font-family: "yueHei";
    font-weight: normal;
    font-style: normal;
    src: url('./MFYUEHEI.TTF') format('truetype');
}